body {
    position: relative;
}

.inputContainer {
    margin: auto;
    width: 20%;
    margin-top: 50px;
    background-color: #F5F5EF;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

.formContainer {
    border: 1px solid #878787;
    border-top: none;
}

.marksForm {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    align-items: center;
}

.marksForm input {
    width: 80%;
    padding: 6px;
    margin: 10px;
    border: 1px;
    border-style: solid;
    box-sizing: content-box;
}

.marksForm input:focus {
    outline: none;
}

.marksForm input[type=text] {
    border-color: #C3C3C3;
}

.marksForm input[type=text]:focus {
    background-color: #ddd;
}

.submitMark {
    background-color: #98BD29;
    color: white;
    font-weight: bold;
    border-color: #98BD29;
}

.submitMark:focus {
    background-color: #657C20;
}

.formTitle {
    background-color: #98BD29;
    color: white;
    padding: 7px;
    font-weight: bold;
}

.resultsContainer {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.resultsContainer table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.resultsContainer td, .resultsContainer th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.resultsContainer tr:nth-child(even) {
    background-color: #dddddd;
}
